*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/buildSrc/.gradle/
/buildSrc/build/
/common/build/
/common/build/intermediates/javac/debug/classes/
/data/local/build/
/data/local/build/intermediates/javac/debug/classes/
/data/model/build/
/data/model/build/intermediates/javac/debug/classes/
/data/remote/build/
/data/remote/build/intermediates/javac/debug/classes/
/data/repository/build/
/data/repository/build/intermediates/javac/debug/classes/
/domain/build/
/domain/build/intermediates/javac/debug/classes/
/features/detail/build/
/features/detail/build/intermediates/javac/debug/classes/
/features/home/build/
/features/home/build/intermediates/javac/debug/classes/
/navigation/build/
/navigation/build/intermediates/javac/debug/classes/
